
<router-outlet></router-outlet>
<html>
<head>
  <title>ELearnIT</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="D:/Project/esd/src/app/assets/img/apple-icon.png">
  <link rel="shortcut icon" type="image/x-icon" href="D:/Project/esd/src/app/assets/img/favicon.ico">


  <!-- Load fonts style after rendering the layout styles -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">

</head>

<body>
 
  <!-- Header -->
  <nav class="navbar navbar-expand-lg navbar-light shadow header">
      <div class="container d-flex justify-content-between ">

            <img src=".\assets\img\logo.gif" alt="" class='logo'> 
            <a class="navbar-brand logo h1 align-self-right" style="color: #37CCAF;" href="index.html">

              &#160;
 ELearnIT
       </a>

          <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-right" id="templatemo_main_nav">
              <div class="flex-fill" style='position:absolute ;right:2%; margin: 5%;'>
                  <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto " >
                    <li class="nav-item headerNav"> 
                        <a class="nav-link x" href="#foot"  style="color: #14ffec;">  &#160;About Us  &#160;</a>
                    </li>
                      <li class="nav-item headerNav"> 
                          <a class="nav-link x" routerLink="/home"  style="color: #14ffec;">  &#160;Home  &#160;</a>
                      </li>
                      <li class="nav-item headerNav">
                          <a class="nav-link x" href="/login"  style="color: #14ffec;">  &#160;Login  &#160;</a>
                      </li>
                      <li class="nav-item headerNav">
                          <a class="nav-link x " href="/register"  style="color: #14ffec;">  &#160;Register  &#160;</a>
                      </li>  
                  </ul>
              </div>
             
          </div>

      </div>
  </nav>
  <!-- Close Header -->

  <!-- Start Banner Hero -->
  <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel" style="opacity: 0.8;">
              <div class="container">
                  <div class="row p-5">
                      <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                         <a href="https://englishlive.ef.com/blog/study-tips/why-is-online-learning-so-important-during-coronavirus/" >
                            <img class="img-fluid" src="./assets/img/elbg.jpg" alt="">
                         </a>
                      </div>
                      <div class="col-lg-6 mb-0 d-flex align-items-center">
                          <div class="text-align-left align-self-center">
                              <h1 class="h1" style="color: rgb(22, 178, 164);"><b>ELearnIT</b></h1>
                              <h3 class="h2">Knowledge for everone on any thing</h3>
                              <h2 class="h3">
                                  Learn from the experts all around the globe.
                              </h2>
                              
                          </div>
                      </div>
                  </div>

          
      </div>

  </div>
  <!-- End Banner Hero -->
  <section style="background-color: #d3fff8; opacity: 0.9;">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1"><b>Affiliated Platforms</b></h1>
                <p>
                  Everyone has the right to learn what they want at their pace from the platform they want. 
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-3 mb-3">
                <div class="card h-100">
                    <a href="#">
                        <img src="./assets/img/nptel.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                      
                        <p class="phead"><a href="https://nptel.ac.in/" target="_blank" class="h2 text-decoration-none text-dark platform" > NPTEL</a>
                            <ul class="list-unstyled d-flex justify-content-between">
                               
                            </ul>
                        <p class="card-text">
                            NPTEL is an acronym for National Programme on Technology Enhanced Learning which is an initiative by seven Indian Institutes of Technology (IIT Bombay, Delhi, Guwahati, Kanpur, Kharagpur, Madras and Roorkee) and Indian Institute of Science (IISc) for creating course contents in engineering and science.                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 mb-3">
                <div class="card h-100">
                    <a href="#">
                        <img src="./assets/img/coursera logo.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                     
                       <p class="phead"><a href="https://www.coursera.org/" target="_blank"
                         class="h2 text-decoration-none text-dark platform" > Coursera</a>
                        <ul class="list-unstyled d-flex justify-content-between">
                           
                        </ul>
                        <p class="card-text">
                            Coursera is an American massive open online course provider founded in 2012 by Stanford University's computer science professors Andrew Ng and Daphne Koller that offers massive open online courses, specializations, degrees, professional and mastertrack courses.                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 mb-3">
                <div class="card h-100">
                    <a href="#">
                        <img src="./assets/img/edx.png" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                       
                        <p class="phead"><a href="https://www.edx.org/" target="_blank" class="h2 text-decoration-none text-dark platform" > EDX    </a>
                            <ul class="list-unstyled d-flex justify-content-between">
                               
                            </ul>
                        <p class="card-text">
                            edX is an American massive open online course provider created by Harvard and MIT. It hosts online university-level courses in a wide range of disciplines to a worldwide student body, including some courses at no charge. It also conducts research into learning based on how people use its platform.                        </p>
                    </div>
                </div>
            </div><div class="col-12 col-md-3 mb-3">
                <div class="card h-100">
                    <a href="#">
                        <img src="./assets/img/udemy.png" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                    
                        <p class="phead"><a href="https://www.udemy.com/" target="_blank" class="h2 text-decoration-none text-dark platform" > Udemy</a>
                            <ul class="list-unstyled d-flex justify-content-between">
                               
                            </ul>
                        <p class="card-text">
                            Udemy, Inc. is an American massive open online course provider aimed at professional adults and students. It was founded in May 2010 by Eren Bali, Gagan Biyani, and Oktay Caglar                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Featured Product -->
  <!-- Start Categories of The Month -->
  <section class="container py-5">
      <div class="row text-center pt-3">
          <div class="col-lg-6 m-auto">
              <h1 class="h1"><b>Top Affiliated University</b></h1>
              <p>
                  Get certification and specialization from renowned universities all around the world.
              </p>
          </div>
      </div>
      <div class="row">
          <div class="col-12 col-md-4 p-5 mt-3">
              <a href="/register"><img src="./assets/img/stanuniv.jpg" class="rounded-circle img-fluid border"></a>
              <h5 class="text-center mt-3 mb-3">Stanford University</h5>
              <p class="text-center"><a href="https://www.stanford.edu/" target="_blank" class="btn" style="background-color: #0d7377;color: #eaeaea;">Visit Website</a></p>
          </div>
          <div class="col-12 col-md-4 p-5 mt-3">
              <a href="/register"><img src="./assets/img/mituniv.jpg" class="rounded-circle img-fluid border"></a>
              <h2 class="h5 text-center mt-3 mb-3">MIT University</h2>
              <p class="text-center"><a href="https://www.stanford.edu/" target="_blank" class="btn" style="background-color: #0d7377;color: #eaeaea;">Visit Website</a></p>
          </div>
          <div class="col-12 col-md-4 p-5 mt-3">
              <a href="/register"><img src="./assets/img/jhuniversity.png" class="rounded-circle img-fluid border"></a>
              <h2 class="h5 text-center mt-3 mb-3">Johns Hopkins University</h2>
              <p class="text-center"><a href="https://www.jhu.edu/"  target="_blank" class="btn" style="background-color: #0d7377;color: #eaeaea;">Visit Website</a></p>
          </div>          
         
      </div>
  </section>
  <!-- End Categories of The Month -->


  <!-- Start Featured Product -->
 


  <!-- Start Footer -->
  <section id="foot">
    <footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">
            <div class="row">
  
                <div class="col-md-4 pt-5">
                    <h2 class="h2 border-bottom pb-3 border-light logo" style="color: #37CCAF ;">ELearnIT</h2><br>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                            Thakur College of Engineering
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-decoration-none" href="tel:010-020-0340">010-020-0340</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none" href="mailto:info@company.com">info@ELearnIT.com</a>
                        </li>
                    </ul>
                </div>
  
                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light "></h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        
                    </ul>
                </div>
  
                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Further Info</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="#">Home</a></li>
                        <li><a class="text-decoration-none" href="/register">Register</a></li>
                        <li><a class="text-decoration-none" href="/login">Login</a></li>
                        <li><a class="text-decoration-none" href="#">FAQs</a></li>
                        <li><a class="text-decoration-none" href="#">Contact</a></li>
                    </ul>
                </div>
  
            </div>
  
            <div class="row text-light mb-4">
                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-light"></div>
                </div>
                <div class="col-auto me-auto">
                    <ul class="list-inline text-left footer-icons">
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-auto">
                    <label class="sr-only" for="subscribeEmail">Email address</label>
                    <div class="input-group mb-2">
                        <input type="text" class="form-control bg-dark border-light" id="subscribeEmail" placeholder="Email address">
                        <div class="input-group-text btn-success text-light">Subscribe</div>
                    </div>
                </div>
            </div>
        </div>
  
        <div class="w-100 bg-black py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-12">
                        <p class="text-left text-light">
                            Copyright &copy; 2021 ELearnIT
                            
                        </p>
                    </div>
                </div>
            </div>
        </div>
  
    </footer>
  </section>
  <!-- End Footer -->

  <!-- Start Script -->
  <script src="assets/js/jquery-1.11.0.min.js"></script>
  <script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
  <script src="assets/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/templatemo.js"></script>
  <script src="assets/js/custom.js"></script>
  <!-- End Script -->
</body>

</html>