<router-outlet></router-outlet>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>ELearnIT</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="D:/Project/esd/src/app/assets/img/apple-icon.png">
  <link rel="shortcut icon" type="image/x-icon" href="D:/Project/esd/src/app/assets/img/favicon.ico">


  <!-- Load fonts style after rendering the layout styles -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">

</head>

<body>


	<nav class="navbar navbar-expand-lg navbar-light shadow header">
		<div class="container d-flex justify-content-between " style="box-shadow: none;">
  
			  <img src=".\assets\img\logo.gif" alt="" class='logo'> 
			  <a class="navbar-brand logo h1 align-self-center" style="color: #37CCAF;" href="index.html">
  
				&#160;
   ELearnIT
		 </a>
 
			<div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-right" id="templatemo_main_nav">
				<div class="flex-fill" style='position:absolute ;right:2%; margin: 5%;'>
					<ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto " >
					
						<li class="nav-item headerNav"> 
							<a class="nav-link x" routerLink="/home"  style="color: #14ffec;">  &#160;Home  &#160;</a>
						</li>
						<li class="nav-item headerNav">
							<a class="nav-link x" href="/login"  style="color: #14ffec;">  &#160;Login  &#160;</a>
						</li>
						<li class="nav-item headerNav">
							<a class="nav-link x " href="/register"  style="color: #14ffec;">  &#160;Register  &#160;</a>
						</li>  
					</ul>
				</div>
			   
			</div>
  
		</div>
	</nav>


  
<!-- Close Header -->
    <div class="main" style="height: 20%;">
<!-- Sing in  Form -->
<section class="sign-in">
	<div class="container">
		<div class="signin-content">
			<div class="signin-image">
				<figure><img src="./assets/img/signin-image.jpg" alt="sign up image" class="signin"></figure>
				<a href="/register" class="signup-image-link theme">Create an account</a>
			</div>

			<div class="signin-form">
				<h2 class="form-title">Sign In</h2>
				<form method="POST" [formGroup] = "checkCust" (ngSubmit)=verify() class="register-form" id="login-form" action="/login">
					<div class="form-group">
						<label for="your_name"> &#160; &#160;<i class="zmdi zmdi-account material-icons-name theme"></i></label>
						<input type="text" name="username" id="your_name" placeholder="Username" formControlName = "username"/>
					</div>
					<div class="form-group">
						<label for="your_pass">&#160; &#160;<i class="zmdi zmdi-lock theme"></i></label>
						<input type="password" name="password" id="your_pass" placeholder="Password" formControlName = "password"/>
					</div>
					<div class="form-group form-button">
						<input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
					</div>
				</form>
				
			</div>
		</div>
	</div>
</section>
        
</div>
<footer class="bg-dark" id="tempaltemo_footer">
  
	<div class="w-100 bg-black py-3">
		<div class="container" style="box-shadow: none;">
			<div class="row pt-2">
				<div class="col-12">
					<p class="text-left text-light">
						Copyright &copy; 2021 ELearnIT
						
					</p>
				</div>
			</div>
		</div>
	</div>

</footer>
<!-- JS -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>