body{
    background-color: #6ddccf96;
}

.header
{
    background-color: #212121;
    height: 11%;
}


.x{
    
    text-decoration: none;
}

.x:hover {
    background-color: #323232;

  }

.logo
{
    height:7%;
    width: 7%;
}

.signin{
    height: 68%;
    width: 70%;
}