.logo
{
    height: 20%;
    width: 20%;
}
body{
    background-color: #95e1d3
}
.header
{
    background-color: #212121;
    
}


.x{
    
    text-decoration: none;
}

.x:hover {
    background-color: #323232;
    text-decoration: underline;
  }


